extends layout 

block content
    h1= title

    if messages
        each message in messages 
            h3= message.title 
            h4= message.text 
            if !currentUser || !currentUser.memberStatus
                p= 'Anonymous author'
            else
                p= message.author.name
                p= message.timestamp
    else 
        h2= "There are no messages to display."

    if currentUser && !currentUser.memberStatus
        a(href="/board/membership") Click here to gain Author access