extends layout 

block content
    h1= title

    if currentUser    
        form(action="/board/log-in" method="POST")
            div.form-group    
                label(for="title")= 'Message Title'
                input#first_name.form-control(name="title" type="text" required="true" value=(undefined==data ? '' : data.title))
                label(for="message")= 'Message'
                input#last_name.form-control(name="message" type="text" required="true" value=(undefined==data ? '' : data.message))
            
            button= 'Submit Message'
    else 
        p= 'Please log in first'